.converter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  position: relative;
  .mobile_nav {
    display: none;
  }
  .left_sidebar {
    width: 20%;
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    .logo {
      position: relative;
      margin: 20px 0;
      .dot {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 100%;
        position: absolute;
        top: 2px;
        right: -9px;
      }
    }
    .links {
      .navlinks {
        list-style: none;
        li {
          margin: 35px 0;
          small {
            sup {
              background-color: red;
              color: #fff;
              padding: 2px;
              border-radius: 10px;
            }
          }
          a {
            text-decoration: none;
            color: #000;
            font-size: 0.9rem;
            font-weight: 500;
            i {
              color: red;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .coming_soon {
      background-color: #f6f9fe;
      width: 70%;
      height: 200px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 20px;
      display: none;
      .emoji {
        background-color: rgba(255, 0, 0, 0.288);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        img {
          width: 50px;
        }
      }
      p {
        font-size: 0.8rem;
        color: #000;
        text-align: center;
      }
      button {
        width: 80%;
        height: 2rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: #fff;
        background-color: red;
      }
    }

    .contribute {
      margin-bottom: 20px;
      a {
        text-decoration: none;
        color: #000;
        font-size: 0.8rem;
        sup {
          background-color: red;
          color: #fff;
          padding: 2px;
          border-radius: 10px;
          font-size: 0.5rem;
        }
      }
    }
  }
  .main {
    width: 80%;
    background-color: #f6f5fb;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    h2 {
      margin-top: 20px;
      font-weight: 500;
      font-size: 2rem;
      text-align: left;
      width: 90%;
    }
    .input_container {
      display: flex;
      align-items: center;
      margin-top: 40px;
      .color_code_input {
        width: 350px;
        height: 40px;
        outline: none;
        padding-left: 10px;
        border-radius: 7px;
        border: 2px solid #796f6f;
      }
      .color_box {
        height: 40px;
        width: 40px;
        border-radius: 7px;
        margin-right: 10px;
      }
    }
    .results {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      .result_card {
        height: 150px;
        width: 300px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        margin: 20px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          text-align: center;
        }
        input {
          width: 100%;
          outline: none;
          border: none;
          text-align: center;
          &::selection {
            background: none;
          }
        }
        i {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .converter {
    flex-direction: column;
    .mobile_nav {
      display: flex;
      width: 100%;
      height: fit-content;
      background-color: #fff;
      flex-direction: column;
      .logo_menu {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding: 10px 0;
        .ham {
          i {
            font-size: 40px;
            color: #000;
          }
        }
      }
      .links {
        width: 90%;
        margin: auto;
        display: none;
        &.show {
          display: block;
        }
        .navlinks {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          li {
            margin: 15px;
            a {
              color: #000;
              font-weight: 500;
              font-size: 18px;
              text-decoration: none;
              i {
                margin-right: 5px;
                color: #f00;
              }
            }
          }
        }
      }
    }
    .left_sidebar {
      display: none;
    }
    .main {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .input_container {
        width: 100%;
        justify-content: center;
      }
      .results {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
