.extract {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  position: relative;
  .popup {
    width: 50%;
    height: 60vh;
    background-color: #fff;
    border-radius: 0.3rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 3px 2px 0px 1000px rgba(0, 0, 0, 0.4);
    transition: ease-in 0.3s;
    display: none;

    &.active {
      display: block;
    }
    .close_div {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      cursor: pointer;
      font-size: 1.5rem;
      color: red;
      font-weight: bold;
      z-index: 9999;
    }
    .popup_content {
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .popup_content_left {
        width: 50%;

        h2 {
          font-size: 1.5rem;
          font-weight: 500;
        }
        ul {
          list-style: none;
          margin-top: 10px;
          li {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            width: 80%;
            cursor: pointer;
            border-radius: 0.5rem;
            padding: 2px;
            transition: ease-in 0.2s;
            &:hover {
              background-color: red;
              color: #fff;
              transition: ease-in 0.2s;
            }
            i {
              margin-right: 10px;
              background-color: rgba(255, 0, 0, 0.288);
              padding: 0.1rem;
              width: 30px;
              height: 30px;
              display: flex;
              color: #fff;
              align-items: center;
              justify-content: center;
              border-radius: 100%;
            }
          }
        }
      }
      .popup_content_right {
        .default_popup_right_content {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            transform: scaleX(-1);
            width: 150px;
          }
          h2 {
            text-align: center;
            color: rgba(59, 59, 59, 0.288);
          }
        }
        width: 290px;
        height: 290px;
        padding: 10px;
        border-radius: 5px;
        // background-color: rgba(255, 0, 0, 0.288);
        display: flex;
        align-items: center;
        justify-content: center;
        .css_result {
          height: 100%;
          width: 100%;
          position: relative;
          display: none;
          .copied_message {
            width: fit-content;
            padding: 15px;
            margin: auto;
            background-color: red;
            color: #fff;
            border-radius: 30px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            display: none;
            transform: translate(-50%, -50%);
          }
          textarea {
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            // pointer-events: none;
            resize: none;
            &::selection {
              background: transparent;
            }
          }
          .copy_css_button {
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(59, 59, 59, 0.5);
            border: none;
            outline: none;
            color: #fff;
            margin: 5px;
            padding: 7px;
            border-radius: 20px;
            cursor: pointer;
            transition: ease-in 0.2s;
            &:hover {
              box-shadow: 0px 0px 10px rgba(59, 59, 59, 0.5);
              background-color: #fff;
              color: rgba(59, 59, 59, 0.5);
            }
          }
          .download_css_button {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(59, 59, 59, 0.5);
            border: none;
            outline: none;
            color: #fff;
            margin: 5px;
            padding: 7px;
            border-radius: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            width: fit-content;
            transition: ease-in 0.4s;
            p {
              font-size: 0;
            }
            &:hover {
              box-shadow: 0px 0px 10px rgba(59, 59, 59, 0.5);
              color: rgba(59, 59, 59, 0.5);
              width: 120px;
              transition: ease-in 0.4s;
              color: #fff;
              background-color: red;
              i {
                margin-right: 10px;
              }
              p {
                font-size: 0.8rem;
              }
            }
          }
        }
        .coming_soon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          display: none;
        }
        .image_result {
          width: 100%;
          height: 100%;
          position: relative;
          display: none;
          .save_as {
            width: 30px;
            height: 30px;
            background-color: red;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            cursor: pointer;
            button {
              outline: none;
              cursor: pointer;
              border: none;
              outline: none;
              color: #fff;
              background-color: transparent;
              i {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .left_sidebar {
    width: 20%;
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    .logo {
      position: relative;
      margin: 20px 0;
      .dot {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 100%;
        position: absolute;
        top: 2px;
        right: -9px;
      }
    }
    .links {
      .navlinks {
        list-style: none;
        li {
          margin: 15px 0;
          small {
            sup {
              background-color: red;
              color: #fff;
              padding: 2px;
              border-radius: 10px;
            }
          }
          a {
            text-decoration: none;
            color: #000;
            font-size: 0.9rem;
            font-weight: 500;
            i {
              color: red;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .coming_soon {
      background-color: #f6f9fe;
      width: 70%;
      //   margin-bottom: 100px;
      height: 200px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 20px;
      .emoji {
        background-color: rgba(255, 0, 0, 0.288);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        img {
          width: 50px;
        }
      }
      p {
        font-size: 0.8rem;
        color: #000;
        text-align: center;
      }
      button {
        width: 80%;
        height: 2rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: #fff;
        background-color: red;
      }
    }

    .contribute {
      margin-bottom: 20px;
      a {
        text-decoration: none;
        color: #000;
        font-size: 0.8rem;
        sup {
          background-color: red;
          color: #fff;
          padding: 2px;
          border-radius: 10px;
          font-size: 0.5rem;
        }
      }
    }
  }
  .main {
    width: 60%;
    background-color: #f6f5fb;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    h2 {
      margin-top: 20px;
      font-weight: 500;
      font-size: 2rem;
      text-align: left;
      width: 90%;
    }
    .upload_btn_wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin: 25px;
      .btn {
        border: none;
        color: #fff;
        background-color: red;
        padding: 5px 20px;
        border-radius: 7px;
        font-size: 15px;
      }
      input[type="file"] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
      }
    }
    .upload_file {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 70vh;
      border-radius: 0.8rem;
      background-color: #fff;
      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0.8rem;
      }
    }
  }
  .right_sidebar {
    width: 20%;
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    .default {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3 {
        text-align: center;
        color: rgba(59, 59, 59, 0.288);
      }
      img {
        width: 80px;
        background-color: rgba(255, 0, 0, 0.288);
        border-radius: 100%;
        padding: 10px;
      }
    }
    .image_loaded {
      display: none;
      width: 100%;
      flex-direction: column;
      align-items: center;
      .dominant_color {
        width: 100%;
        margin-top: 20px;
        .dominant {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .dominant_color_code_and_copy_button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            margin: auto;
            .copy_copied {
              background-color: red;
              color: #fff;
              border-radius: 10px;
              padding: 2px;
              text-align: center;
              width: 100px;
              margin-right: 2px;
              display: none;
            }
            input {
              color: #fff;
              font-weight: 500;
              font-size: 0.9rem;
              outline: none;
              border: none;
              background-color: transparent;
              pointer-events: none;
              &::selection {
                background: transparent;
              }
            }
            i {
              color: #fff;
              cursor: pointer;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      .color_palette {
        width: 100%;
        h3 {
          position: sticky;
          top: 0;
          background-color: #fff;
          width: 100%;
        }
        .color_palette_container {
          width: 100%;
          // margin-bottom: 20px;
          max-height: 350px;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
          }
          .color {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: red;
            border: 1px solid #fff;
            .color_palette_code_and_copy_button {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 90%;
              margin: auto;
              .copy_copied {
                background-color: red;
                color: #fff;
                border-radius: 10px;
                padding: 2px;
                text-align: center;
                width: 100px;
                margin-right: 2px;
                display: none;
              }
              input {
                color: #fff;
                font-weight: 500;
                font-size: 0.9rem;
                outline: none;
                border: none;
                background-color: transparent;
                pointer-events: none;
                &::selection {
                  background: transparent;
                }
              }
              i {
                color: #fff;
                cursor: pointer;
              }
            }
          }
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .export_palette {
          width: 100%;
          height: 3rem;
          color: #fff;
          margin: auto;
          outline: none;
          border: none;
          border-radius: 0.3rem;
          cursor: pointer;
          font-size: 1.2rem;
          margin: 10px 0;
        }
        .save_palette {
          width: 100%;
          height: 3rem;
          color: #fff;
          margin: auto;
          outline: none;
          border: none;
          border-radius: 0.3rem;
          cursor: pointer;
          font-size: 1.2rem;
          background-color: red;
          color: #fff;
          margin: 10px 0;
        }
      }
    }
  }
}

//media queries
@media screen and (max-width: 768px) {
  .colorwify {
    flex-direction: column;
    .popup {
      width: 90%;
      .popup_content {
        flex-direction: column-reverse;
        .popup_content_left,
        .popup_content_right {
          width: 90%;
          margin: auto;
        }
      }
    }
    .left_sidebar {
      display: none;
    }
    .main {
      width: 100%;
      position: sticky;
      top: 0;
    }
    .right_sidebar {
      width: 90%;
      margin: auto;
      .image_loaded {
        .dominant_color {
          width: 100%;
          height: fit-content;
          .dominant {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            .dominant_color_code_and_copy_button {
              justify-content: center;
              input {
                width: 0;
              }
              i {
                font-size: 1.5rem;
              }
            }
          }
        }
        .color_palette {
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          position: relative;
          margin-top: 15px;
          h3 {
            position: sticky;
            left: 0;
            background-color: #fff;
            width: 200px;
            text-align: center;
          }
          .color {
            flex: 0 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin: 10px;
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            .color_palette_code_and_copy_button {
              justify-content: center;
              input {
                width: 0;
              }
              i {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
