.generate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  position: relative;
  .left_sidebar {
    width: 20%;
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    top: 0;
    .logo {
      position: relative;
      margin: 20px 0;
      .dot {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 100%;
        position: absolute;
        top: 2px;
        right: -9px;
      }
    }
    .links {
      .navlinks {
        list-style: none;
        li {
          margin: 20px 0;
          small {
            sup {
              background-color: red;
              color: #fff;
              padding: 2px;
              border-radius: 10px;
            }
          }
          a {
            text-decoration: none;
            color: #000;
            font-size: 0.9rem;
            font-weight: 500;
            i {
              color: red;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .coming_soon {
      background-color: #f6f9fe;
      width: 70%;
      //   margin-bottom: 100px;
      height: 200px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 20px;
      .emoji {
        background-color: rgba(255, 0, 0, 0.288);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        img {
          width: 50px;
        }
      }
      p {
        font-size: 0.8rem;
        color: #000;
        text-align: center;
      }
      button {
        width: 80%;
        height: 2rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: #fff;
        background-color: red;
      }
    }

    .contribute {
      margin-bottom: 20px;
      a {
        text-decoration: none;
        color: #000;
        font-size: 0.8rem;
        sup {
          background-color: red;
          color: #fff;
          padding: 2px;
          border-radius: 10px;
          font-size: 0.5rem;
        }
      }
    }
  }
  .main {
    width: 80%;
    margin-left: 20%;
    background-color: #f6f5fb;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .palette {
      height: 100%;
      width: 100%;
      background-color: red;
      display: flex;
      //make all the colors in the palette have the same width
      .color {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        input {
          color: #000;
          font-weight: 500;
          font-size: 1rem;
          outline: none;
          border: none;
          background-color: transparent;
          pointer-events: none;
          text-align: center;
          &::selection {
            background: transparent;
          }
        }
        i {
          color: #fff;
          cursor: pointer;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 0.7rem;
          border-radius: 100%;
          transition: ease-in-out 0.3s;
          // &:hover {
          //   background-color: #fff;
          //   color: #000;
          //   transition: ease-in-out 0.3s;
          // }
        }
        p {
          margin: 1rem 0;
        }
      }
    }
    .options {
      width: 100%;
      height: 10vh;
      position: absolute;
      bottom: 0;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 1rem;
        color: #000;
        margin: 0;
        opacity: 1;
        transition: ease-in 0.5s;
        &.fade {
          opacity: 0;
          transition: ease-in 0.5s;
        }
      }
      .generate_btn {
        width: 20%;
        height: 80%;
        border: none;
        background-color: red;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        outline: none;
        margin-left: 3rem;
        border-radius: 0.5rem;
      }
      .more_options {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        margin-right: 3rem;
        i {
          cursor: pointer;
          font-size: 2rem;
          margin: 0 0.5rem;
          color: #000;
        }
      }
    }
  }
}
