.saved_palettes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  position: relative;
  .mobile_nav {
    display: none;
  }
  .left_sidebar {
    width: 20%;
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    top: 0;
    .logo {
      position: relative;
      margin: 20px 0;
      .dot {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 100%;
        position: absolute;
        top: 2px;
        right: -9px;
      }
    }
    .links {
      .navlinks {
        list-style: none;
        li {
          margin: 35px 0;
          small {
            sup {
              background-color: red;
              color: #fff;
              padding: 2px;
              border-radius: 10px;
            }
          }
          a {
            text-decoration: none;
            color: #000;
            font-size: 0.9rem;
            font-weight: 500;
            i {
              color: red;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .coming_soon {
      background-color: #f6f9fe;
      width: 70%;
      height: 200px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 20px;
      display: none;
      .emoji {
        background-color: rgba(255, 0, 0, 0.288);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        img {
          width: 50px;
        }
      }
      p {
        font-size: 0.8rem;
        color: #000;
        text-align: center;
      }
      button {
        width: 80%;
        height: 2rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: #fff;
        background-color: red;
      }
    }

    .contribute {
      margin-bottom: 20px;
      a {
        text-decoration: none;
        color: #000;
        font-size: 0.8rem;
        sup {
          background-color: red;
          color: #fff;
          padding: 2px;
          border-radius: 10px;
          font-size: 0.5rem;
        }
      }
    }
  }
  .main {
    width: 80%;
    margin-left: 20%;
    background-color: #f6f5fb;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    .confirm_delete_popup {
      position: absolute;
      background-color: #fff;
      width: 300px;
      margin: auto;
      z-index: 100000;
      border-radius: 7px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
      top: 300px;
      left: 50%;
      padding: 30px;
      transform: translate(-50%, -50%);
      display: none;
      position: fixed;
      flex-direction: column;
      align-items: center;
      &.show {
        display: flex;
      }
      h3 {
        font-weight: 500;
        text-align: center;
      }
      .buttons {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          width: 150px;
          height: 40px;
          margin: 10px;
          cursor: pointer;
          outline: none;
          border: none;
          &:first-child {
            background-color: #e1e1e4;
            color: #000;
          }
          &:last-child {
            background-color: red;
            color: #fff;
          }
        }
      }
    }
    .title_and_delete {
      display: flex;
      text-align: left;
      width: 100%;
      justify-content: space-between;
      background-color: #f6f5fb;
      position: sticky;
      top: 0;
      z-index: 2;
      padding: 10px 0;
      h2 {
        font-weight: 500;
        font-size: 2rem;
        margin-left: 30px;
      }
      .delete_all {
        margin-right: 30px;
        background-color: red;
        border: none;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 5px;
        // width: 100px;
        height: 35px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          margin-right: 5px;
        }
      }
    }
    .palette_default_content {
      display: none;
      height: 90vh;
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      a {
        text-decoration: none;
        button {
          margin-right: 30px;
          background-color: red;
          border: none;
          color: #fff;
          font-size: 1rem;
          cursor: pointer;
          border-radius: 5px;
          // width: 100px;
          height: 45px;
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .saved_color_palettes_container {
      width: 100%;
      .saved_color_palettes {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .saved_palette_card {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 250px;
          width: 400px;
          background-color: #fff;
          position: relative;
          border-radius: 10px;
          padding: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          margin: 20px;
          flex-direction: column;
          h3 {
            font-weight: 600;
            font-size: 0.8rem;
            text-transform: uppercase;
            text-align: left;
            width: 100%;
          }
          .colors {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            .color {
              width: 80px;
              height: 100%;
              background-color: blue;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              textarea {
                width: 100%;
                height: 20px;
                text-align: center;
                border: none;
                background-color: transparent;
                color: #000;
                font-size: 0.8rem;
                resize: none;
                outline: none;
                font-weight: 500;
                color: #fff;
                :read-only {
                  background-color: #fff;
                  color: #000;
                }
                ::selection {
                  background-color: transparent;
                }
              }
            }
          }
          .download_button {
            position: absolute;
            position: absolute;
            bottom: 0;
            left: 50%;
            color: red;
            width: 20px;
            height: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            background-color: #fff;
            border-radius: 100%;
            transform: translateX(-50%);
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            transition: ease-in 0.5s;
            .options_menu {
              transition: ease-in 0.3;
              display: none;
              position: absolute;
              bottom: 40px;
              background-color: #fff;
              padding: 5px;
              border-radius: 7px;
              &.show {
                display: flex;
              }
              .arrow {
                width: 15px;
                height: 15px;
                background-color: #fff;
                position: absolute;
                //move to bottom center
                transform: translate(-50%, -50%);
                left: 45%;
                top: 90%;
                transform: rotate(45deg);
              }
              button {
                background-color: rgba(255, 0, 0, 0.7);
                width: 1rem;
                height: 1rem;
                padding: 1rem;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                cursor: pointer;
                color: #fff;
                margin: 10px;
                transition: ease 0.5s;
                i {
                  font-size: 1rem;
                }
                &:hover {
                  background-color: red;
                  transition: ease 0.5s;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1090px){
  .saved_palettes{
    .left_sidebar{
      .contribute{
        a{
          font-size: 1rem;
          sup{
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px){
  .saved_palettes{
    .left_sidebar{
      width: 25%;
    }
    .main{
      .title_and_delete{
        background-color: transparent;
        h2{
          margin-left: 180px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .saved_palettes {
    flex-direction: column;
    .mobile_nav {
      display: flex;
      width: 100%;
      height: fit-content;
      background-color: #fff;
      flex-direction: column;
      .logo_menu {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding: 10px 0;
        .ham {
          i {
            font-size: 40px;
            color: #000;
          }
        }
      }
      .links {
        width: 90%;
        margin: auto;
        display: none;
        &.show {
          display: block;
        }
        .navlinks {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          li {
            margin: 15px;
            a {
              color: #000;
              font-weight: 500;
              font-size: 18px;
              text-decoration: none;
              i {
                margin-right: 5px;
                color: #f00;
              }
            }
          }
        }
      }
    }
    .left_sidebar {
      display: none;
    }
    .main {
      width: 100%;
      margin: 0;
    }
  }
}
