@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.fetiino {
  font-family: "Poppins";
  position: relative;
  .fetiino_inner {
    width: 95%;
    margin: auto;
    .navbar {
      width: 100%;
      height: 10vh;
      background-color: transparent;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        margin-left: 2.5%;
      }
      .navlinks {
        display: flex;
        list-style: none;
        li {
          margin: 0 10px;
          a {
            text-decoration: none;
            color: #796f6f;
            font-size: 0.9rem;
            font-weight: 500;
          }
        }
      }
      .icons {
        margin-right: 2.5%;
        display: flex;
        align-items: center;
        a {
          font-size: 1.2rem;
          font-weight: 500;
          i {
            color: red;
            margin-right: 15px;
          }
        }
        .color_bars {
          width: 40px;
          height: 40px;
          .color_bar {
            $radius: 7px;
            width: 100%;
            height: 8px;
            &:first-child {
              border-radius: $radius $radius 0 0;
            }
            &:last-child {
              border-radius: 0 0 $radius $radius;
            }
          }
        }
      }
    }
    .hero {
      height: 100vh;
      width: 85%;
      margin: auto;
      display: flex;
      padding-top: 2rem;
      align-items: center;
      justify-content: space-between;
      .hero_text_content {
        .main_text {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          h1 {
            font-size: 6rem;
            font-weight: 600;
            color: #000;
            margin-bottom: 0.5rem;
            line-height: 1;
            &:last-child {
              color: red;
            }
          }
        }
        p {
          font-size: 1rem;
          font-weight: 500;
          width: 70%;
          color: #796f6f;
          border-left: 3px solid red;
          padding-left: 10px;
          margin: 1rem 0;
          a {
            text-decoration: none;
            color: red;
            font-weight: 600;
          }
        }
        .wheel_mobile {
          display: none;
        }
        .buttons {
          display: flex;
          width: 100%;
          align-items: center;
          margin: 2rem 0;
          button {
            width: 30%;
            height: 2.5rem;
            background-color: red;
            border: none;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 0.2rem;
            margin-right: 1rem;
            a {
              text-decoration: none;
              color: #fff;
            }
          }
          a {
            text-decoration: none;
            color: #796f6f;
            font-weight: 500;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.IroSlider {
  display: none;
  visibility: hidden;
  pointer-events: none;
}
//add mobile media query
@media screen and (max-width: 768px) {
  .fetiino {
    .fetiino_inner {
      .navbar {
        height: 8vh;
        .navlinks {
          display: none;
        }
      }
      .hero {
        align-items: center;
        justify-content: center;
        padding-top: 0;
        .hero_text_content {
          .main_text {
            h1 {
              font-size: 4.7rem;
            }
          }
          .wheel_mobile {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
          }
          .buttons {
            flex-direction: column;
            align-items: flex-start;
            button {
              width: 80%;
              height: 3rem;
              margin-bottom: 1rem;
            }
            a {
              font-size: 1.2rem;
            }
          }
        }
        .hero_color_wheel {
          display: none;
        }
      }
    }
  }
}
@import "./extract";
@import "./saved_palettes";
@import "./generate";
@import "./converter";
